<!doctype html>
<html>
  <head>
    <title>${TITLE}</title>
    <link rel='stylesheet' href='${ROOT}/style.css' type='text/css'>
  </head>
  <body>
    <div>
      <header><h1>${TITLE}</h1></header>
      <hr>
      <main>${CONTENT}</main>
      <hr>
      <footer>
        <p>
          <a href='${ROOT}/'>Home</a> |
          <a href='${ROOT}/readme/'>About</a> |
          <a href='https://github.com/so-dang-cool/nobodyuses.org'>Contribute</a>
        </p>
        <em>Started by Justin Hill, continued by viewers like you</em>
      </footer>
    </div>
  </body>
</html>
